* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
.intro{
  display:inline;
  float:left;
  width: 45%;
}
.login{
  width: 45%;
  display:inline;
  float:right;
  margin-right: 50px;
}
.show-login{
  cursor: pointer;
  text-decoration: underline;
}
header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 1;
  background-color: #009999;
  margin:0;
  box-shadow: 0px 2px 5px #888888;
}
#header-content{
  max-width: 800px;
  margin: auto;
  right: 0;
  left: 0;
  padding-right: 5px;
  padding-left: 5px;
}
#header-name{
  display: inline;
  float: left;
}
#header-links{
  display: inline;
  float: right;
  padding-top: 10px;
}
#header-links a{
  color: black;
}

#news-wrapper{
  padding-top: 10px;
  max-width: 800px;
  margin: auto;
  right: 0;
  left: 0;
  padding-right: 5px;
  padding-left: 5px;
}
#profiles-wrapper{
  padding-top: 10px;
  max-width: 800px;
  margin: auto;
  right: 0;
  left: 0;
  padding-right: 5px;
  padding-left: 5px;
}
#login-wrapper{
  padding-top: 10px;
  max-width: 800px;
  margin: auto;
  right: 0;
  left: 0;
  padding-right: 5px;
  padding-left: 5px;
}
#profile-personal{
  display: block;
}
#profile-info{
  display: inline;
  float: left;
  overflow: scroll;
}
#profile-photo{
  display: inline;
  float: left;
}
#profile-travel{
  display: block;
  margin-top: 15px;
}
#place-tab-bar{
  display: block;
  width: 100%;
}
.place-tab-bar-title{
  display: inline;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}
.place-tab-bar-tabs{
  display: inline;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}
.place-tab-bar-form{
  display: inline;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}